---
layout: none
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <script src="/assets/js/bootstrap.min.js"></script>
  <title>Document</title>
</head>
<body>
  <!-- contents -->
  <main class="container-fluid p-5">
    <nav class="navbar navbar-expand-lg bg-body-tertiary mb-5">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">NaturalRemedies</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            {% for item in site.data.header-nav-links.links %}
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href={{ item.url }}>{{ item.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </nav>


    <h1 class="display-1 mb-5">Herbal Teas</h1>

   

    <ul class="row gap-4 p-0 h-100">
      {% for tea in site.data.herbal-teas %}
        <li class="col-xs-1 col-sm-2 col-md-3 col-lg-3 col-xl-4 card p-4">
          <a class="text-decoration-none" href={{tea.path}}>{{tea.name}}</a>
        </li>
      {% endfor %}
    </ul>
      <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <p class="col-md-4 mb-0 text-muted">© 2022 Company, Inc</p>
    
        <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
          <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        </a>
    
        <ul class="nav col-md-4 justify-content-end">
          {% for item in site.data.footer-nav-links.links %}
              <li class="nav-item"><a href={{ item.url }} class="nav-link px-2 text-muted">{{ item.title }}</a></li>
          {% endfor %}
        </ul>
      </footer>
    </div>
  </main>

   <!-- end of contents -->
</body>
</html>

